*{
    margin: 0px !important;

}
.bg1{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png ");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: end;

}
.food1{
    text-align: center;
    background-color: white;
    height: 28vh;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 5px;
    width: 100vw;

}
.header{
    font-style: normal;
    color: rgb(219, 38, 74);
    font-weight: bold;
    font-size: 30px;
    padding: 6px;
}
.para{
font-size: 25px;
font-style: italic;
padding: 5px;
}
.butt{
    height: 36px;
    width: 138px;
    border-width: 2px;
    border-radius: 10px;
    color: rgb(236, 233, 231);
    font-size: 15px;
    font-style: italic;
    font-weight: 550;
    padding: 10px;
}
.butt1{
    background-color: rgb(41, 193, 41);
}